extends _layouts/application

block content
  .app-container
    .app-block
      h1 Input
      textarea.input#input
    .app-block
      h1 Output
      div.output#output

  div.content#content


  //<div class="content" id="content"></div>
